<div class="section dark-bg" id="plans" style="background-image: url({{ file_url(content.field_background_image['#items'].entity.uri.value)}});">
    <div class="container">
        <div class="section-title">
            <h3 class="wow slideInUp">{{content.field_title.0}}</h3>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 plans-gallery">
                <div class="plans-wrapper clearfix">
                    <div class="col-lg-4 grid-sizer"></div>
                    {{content.field_project_plan}} 
                </div>
            </div>
        </div>
    </div>
</div>