<!DOCTYPE html>
<html>
<head>
	<title>CC</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!-- CBED Signup Block Section -->
    <section id="cbed-signup-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 cbed-signup-block-form">
            <form>
            <div class="row content">
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 title align-self-center">
                <h2>Get the latest cannabinoid news, Information on noteworthy scientific research, important clinical developments, and<br /> other helpful resources.</h2>
              </div>
              <div class="col-12 col-sm-12 col-md-8 col-lg-8 form">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <label>I am a...</label>
                    <div class="btn-group btn-group-vertical w-100" data-toggle="buttons">
                      <label class="btn btn-outline-primary btn-block">
                        <input type="radio" name="options" id="option1"> CAREGIVER
                      </label>
                      <label class="btn btn-outline-primary btn-block">
                        <input type="radio" name="options" id="option2"> PATIENT
                      </label>
                      <label class="btn btn-outline-primary btn-block">
                        <input type="radio" name="options" id="option3"> HEALTHCARE PROVIDER
                      </label>
                      <label class="btn btn-outline-primary btn-block">
                        <input type="radio" name="options" id="option4"> OTHER
                      </label>
                      <small class="form-text invalid-input full">Please select an option that best applies to you</small>                
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="form-row">
                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                        <label for="">First Name*</label>
                        <input type="text" class="form-control" id="first_name" placeholder="First Name*">
                        <small class="form-text invalid-input">Please enter your first name</small>
                      </div>
                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                        <label for="">Last Name*</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name*">
                        <small class="form-text invalid-input">Please enter your last name</small>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                        <label for="">Email*</label>
                        <input type="text" class="form-control" id="email" placeholder="Email*">
                        <small class="form-text invalid-input">Please enter a valid email address</small>
                      </div>
                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                        <label for="">ZIP Code*</label>
                        <input type="text" class="form-control" id="zipcode" placeholder="ZIP Code*">
                        <small class="form-text invalid-input">Please enter a valid zip code</small>
                      </div>
                    </div>
                    <div class="form-row text-right">
                      <div class="form-group col-md-12">                                       
                        <input type="submit" class="btn btn-primary" value="SIGN UP">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 form-agree">
                <div class="checkbox checkbox-primary">
                    <input id="checkbox1" class="styled" type="checkbox">
                    <label for="checkbox1">
                        I am interested in signing up for ground rounds
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="checkbox2" class="styled" type="checkbox">
                    <label for="checkbox2">
                        I certify that i am at least 18 years of age and want to receive infomation from Greenwich Biosciences ("Greenwich") and third parties working on behalf of Greenwich. I agree that Greenwich may use the information I provide to send me health-related materials as well as information on Greenwich services, including marketing programs. Greenwich may also use my information for market research or to evaluate and improve the company's programs and services. I understand that I can opt-out at any time by clicking on the "Unsubscribe" link at the bottom of any page on this website or the bottom of all emails received.<br />Greenwich Biosciences respects your information.
                        <small class="form-text invalid-input full">Please check the box to continue sign-up.</small>                          
                    </label>                  
                </div>
                <label>* Required Fields</label>
              </div>
            </div>
            </form>            
          </div>
        </div>
      </div>
    </section>
    <!-- CBED Signup Block Section End -->
</body>
</html>