{{ attach_library('webrtc/general') }}

<div class="copy">Send your URL to a friend to start a video call</div>
<div id="webrtc">
  <video id="localVideo" autoplay muted></video>
  <button id="videotoggle">video</button>
  <button id="audiotoggle">Mic</button>
  <button id="hangupButton">Hang Up</button>

  <video id="remoteVideo" autoplay></video>
  <video id="remoteVideo1" autoplay></video>
</div>
